<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Weather App</title>
</head>
<body>
    <form method="POST" action="/openWeather/find" class="find-location">
        <input type="text" placeholder="Find a place..." name="place" required>
        <input type="submit" value="Find">
    </form>
</body>
</html>